<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="poder.ufac.br.autismoprojetointegrar" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poder.ufac.br.autismoprojetointegrar.Main2Activity" />
        </activity>
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.TarefaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_tarefa"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.SpeechActivity"
            android:label="@string/title_activity_speech" >
        </activity>
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.ListarCompromissoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_adicionar_compromisso"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poder.ufac.br.autismoprojetointegrar.CalendarioActivity" />
        </activity>
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.AdicionarCompromissosActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_adicionar_compromissos"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poder.ufac.br.autismoprojetointegrar.ListarCompromissoActivity" />
        </activity>
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.CalendarioActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_calendario"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poder.ufac.br.autismoprojetointegrar.ConfiguracoesActivity" />
        </activity>
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.AgendaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_agenda"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poder.ufac.br.autismoprojetointegrar.MainActivity" />
        </activity>
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.AgendaViewPagerActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_agente_view_pager"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poder.ufac.br.autismoprojetointegrar.MainActivity" />
        </activity>
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.ListarTarefasActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_listar_tarefas"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poder.ufac.br.autismoprojetointegrar.MainActivity" />
        </activity>
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.Main2Activity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.ConfiguracoesActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_configuracoes_activity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poder.ufac.br.autismoprojetointegrar.Main2Activity" />
        </activity>

        <activity
            android:name="poder.ufac.br.autismoprojetointegrar.activity_creditos"
            android:configChanges="orientation"
            android:label="@string/title_activity_activity_creditos"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="poder.ufac.br.autismoprojetointegrar.ConfiguracoesActivity" />
        </activity>
    </application>

</manifest>
